:root {
	--main-color: #0165E1;
	--secondary-color: #4caf50;
	--grey-color: #8a8a8a
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f1f1f1;
	/* font-family: 'Roboto', sans-serif; */
	font-family: Helvetica, Arial, sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

/* Uitlities */
.main {
	background-color: var(--main-color);
	color: white;
}

.secondary {
	background-color: var(--secondary-color);
	color: white;
}

.full {
	width: 100%;
}

.btn {
	padding: 14px 40px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 15px;
	display: block;
}

.text {
	font-size: 18px;
}

.text-center {
	text-align: center;
	display: block;
}

.text-primary {
	color: var(--main-color);
}

.text-grey {
	color: var(--grey-color);
}

.my-3 {
	margin-block: 16px;
}

.mt-3 {
	margin-top: 16px;
}

.center {
	margin: auto;
}

.big {
	font-weight: 700;
}

/* End */

.align-items-center {
	display: flex;
	align-items: center;
	min-height: 100vh;
}

.container {
	max-width: 1200px;
	padding-inline: 40px;
	margin: auto;
}

.row {
	display: flex;
	width: 980px;
	margin: auto;
}

.col-8 {
	flex-basis: 66.6666%;
	display: flex;
	align-items: center;
}

.col-4 {
	flex-basis: 33.3333%;
}

section {
	padding-right: 120px;
	margin-top: -80px;
}

.main-title {
	font-size: 48px;
	margin-bottom: 20px;
}

.from-wrapper {
	border-radius: 8px;
	background-color: white;
	padding: 20px;
	width: 396px;
	box-shadow: 0 0 5px 5px #0001;
}

input {
	width: 100%;
	display: block;
	height: 3.125rem;
	border: 1px solid #ededed;
	border-radius: 4px;
	margin-bottom: 8px;
	padding: 10px 12px;
}