<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../css/facebook-login.css" />
		<link rel="stylesheet" href="../fonts/Roboto-Condensed.ttf" />
		<title>Facebook Login</title>
	</head>
	<body>
		<div class="container">
			<div class="align-items-center">
				<div class="row">
					<div class="col-8">
						<section>
							<h1 class="main-title text-primary">facebook</h1>
							<p class="text">
								Facebook helps you connect and share with the
								people in your life
							</p>
						</section>
					</div>
					<div class="col-4">
						<div class="form-container">
							<div class="from-wrapper">
								<form action=".">
									<input
										type="text"
										name="username"
										id="username"
										placeholder="Email Adress or Phone Number"
									/>
									<input
										type="password"
										name="password"
										id="password"
										placeholder="Password"
									/>
									<button class="btn main full">
										Log In
									</button>
									<a
										href="#"
										class="text-center text-grey my-3"
									>
										Forgotten password?
									</a>
								</form>
								<button class="btn secondary center">
									Create New Account
								</button>
							</div>
							<p class="text-center mt-3">
								<a href="#" class="big">Create a page</a> for a
								celebrity, brand or business
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
